<p>Success</p>
<p><a href = "/">Go Back</a></p>
<p><a href = "https://goerli.etherscan.io/address/0x4d1076d32152c8451947e5aae6e4273d3df785d9">Check the Contract</a></p>
<p><a href = "https://goerli.etherscan.io/address/0x4bDD0532ee7e2Dd9293997006DdB01F85C24c9AD">Check your wallet</a></p>
